@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
* {
  box-sizing: border-box;
}

body, button, input, select, textarea {
  font-family: 'Nunito', sans-serif;
}

html, body {
  margin: 0;
  background: linear-gradient(
  0deg,
  rgba(241, 152, 175, .6) 0%,
  rgba(235, 178, 214, .4) 0%,
  rgba(159, 126, 205, .2) 100%
  );
}

:root {
  --dark-purple: rgb(50,5,67);
  --light: rgb(242, 229, 242);
}