.cat-description {
  padding: 35px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 35px;
}

.border-info-img {
  margin-bottom: 35px;
  height: 315px;
  width: 315px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.desc-img {
  height: 300px;
  width: 300px;
}

.cat-details {
  padding: 35px;
  width: 100vw;
  color: var(--light);
  background-color: rgb(87, 3, 87);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cat-name, .cat-sts, .cat-health-title, .cat-health-info, .cat-meet, .cat-about, .cat-about{
  padding: 6px;
}

.back-button {
  margin: 10px;
  height: 30px;
  width: 170px;
  border-radius: 15px;
  background-color: var(--dark-purple);
  color: var(--light);
  font-size: 1.1em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

.favorite-button {
  color: deeppink;
  cursor: pointer;
}

.favorite-button:hover {
  color:pink
}
