.App {
  text-align: center;
}


.main-page {
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction:column;
  align-items:center;
  justify-content:space-evenly;

}

.cat-main {
  height: 90vh;
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction:column;
}

.spot {
height: 45px;
width: 200px;
background-color: rgb(50,5,67,.9);
border-radius: 10px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
position:relative;
top: 30px;
}

.cat-spot {
  color: var(--light);
  margin: 7px;
  text-align: center;
}

.border-main-img {
  height: 315px;
  width: 315px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.main-img {
  height: 300px;
  width: 300px;
}

.name-main {
  height: 40px;
  width: 140px;
  border-radius: 10px;
  background-color: white;
  position:relative;
  top: 330px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--dark-purple);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.main-buttons {
  width: 70%;
  display:flex;
  justify-content:space-evenly;
}

.adopt-button, .form-button {
  margin: 35px;
  height: 35px;
  width: 170px;
  border-radius: 15px;
  background-color: var(--dark-purple);
  color: var(--light);
  font-size: 1.1em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor:pointer
}